*{
    padding: 0;
    margin: 0;
}

.title {
    color: white;
    font-size: 5.5rem;
    font-weight: 800;
}

@media (max-width: 600px) {
    .icon-container svg {
      width: 40px;
    }
  }

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
    .desc-profile {
        font-size: 1rem;
        width: 90%;
    }
}
.hackme{
    display: flex;
    justify-content: center;
}

.desc-profile {
    padding: 20px;
    max-width: 700px;
    background-color: rgb(171, 175, 175);
    border: solid 2px white;
    border-radius: 15px;
    margin-top: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact a {
    border: solid 2px white;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    background-color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.contact a:hover {
    background-image: linear-gradient(20deg,#ffffff, #e05555, #ffffff97);
}

.tecnologias { 
    background-color: gray;
    border: solid 2px white;
    border-radius: 8px;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    max-width: 100%;
  }

  .icon-container svg {
    width: 85px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .icon-container svg:hover {
    transform: scale(1.1);
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colunas iguais */
    gap: 20px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 20px;
  }

  .profile-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
 

